@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <link href="~/css/home/index.css" rel="stylesheet" />
}
<div class="container image-gallery">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <img src="~/img/image1.jpg" alt="Slika 1" class="img-fluid" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <img src="~/img/image2.jpg" alt="Slika 2" class="img-fluid" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <img src="~/img/image3.jpg" alt="Slika 3" class="img-fluid" />
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <img src="~/img/image4.jpg" alt="Slika 4" class="img-fluid" />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            <img src="~/img/image5.jpg" alt="Slika 5" class="img-fluid" />
        </div>
    </div>
</div>